<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacEditor.appinfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MacEditor.TextEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MacEditor.appinfo>
            <setting name="teTabIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="teFont" serializeAs="String">
                <value>Consolas, 10pt</value>
            </setting>
            <setting name="shFont" serializeAs="String">
                <value>Consolas, 10pt</value>
            </setting>
            <setting name="shKeyword" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="shType" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="shComment" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="shString" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="teDefFileExt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shDefFileExt" serializeAs="String">
                <value>0</value>
            </setting>
        </MacEditor.appinfo>
        <MacEditor.TextEditor.Settings>
            <setting name="TabIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 10pt</value>
            </setting>
        </MacEditor.TextEditor.Settings>
    </userSettings>
</configuration>